<section>
    <div class="c-container">
        <div class="c-heading">
            <div class="c-heading__iconbox">
                <img class="c-heading__icon" src="./assets/img/icon-wist.svg" alt="事業紹介">
            </div>
            <h2 class="c-heading__caption">事業紹介</h2>
        </div>
        <p class="c-description">アイエステーは、たゆまない技術向上により、地域防災事業に携わるとともに <br class="u-break--sm">
            地域の安全・安心を確保できるインフラ整備に貢献します。</p>


        <div class="c-company__content">
            <div class="c-cardslist u-flex">
                <div class="c-card c-cardoverlay">
                    <a href="#" class="u-nohover">
                        <div class="c-card__content u-flex c-card__content--red">
                            <div class="c-card__icon">
                                <img src="./assets/img/tsunami.svg" alt="tsunami icon">
                            </div>
                            <h3 class="c-card__title u-textwhite">防災・減災業務</h3>
                        </div>
                        <div class="c-card__image">
                            <picture>
                                <source media="(max-width: 767px)" srcset="./assets/img/company1-sp.jpg">
                                <img src="./assets/img/company1.jpg" alt="防災・減災業務">
                            </picture>
                        </div>
                    </a>
                </div>
                <div class="c-card c-cardoverlay--reverse">
                    <a href="#" class="u-nohover">
                        <div class="c-card__content u-flex c-card__content--blue">
                            <div class="c-card__icon">
                                <img src="./assets/img/drone.svg" alt="tsunami icon">
                            </div>
                            <h3 class="c-card__title u-textwhite">ICT・BIM/CIM</h3>
                        </div>
                        <div class="c-card__image">
                            <picture>
                                <source media="(max-width: 767px)" srcset="./assets/img/company2-sp.jpg">
                                <img src="./assets/img/company2.jpg" alt="ICT・BIM/CIM">
                            </picture>
                        </div>
                    </a>
                </div>
                <div class="c-card c-cardoverlay">
                    <a href="#" class="u-nohover">
                        <div class="c-card__content u-flex c-card__content--yellow">
                            <div class="c-card__icon">
                                <img src="./assets/img/camera.svg" alt="tsunami icon">
                            </div>
                            <h3 class="c-card__title u-textwhite">測量・設計業務</h3>
                        </div>
                        <div class="c-card__image">
                            <picture>
                                <source media="(max-width: 767px)" srcset="./assets/img/company3-sp.jpg">
                                <img src="./assets/img/company3.jpg" alt="測量・設計業務">
                            </picture>
                        </div>
                    </a>
                </div>
                <div class="c-card c-cardoverlay--reverse">
                    <a href="#" class="u-nohover">
                        <div class="c-card__content u-flex c-card__content--green">
                            <div class="c-card__icon">
                                <img src="./assets/img/drill.svg" alt="tsunami icon">
                            </div>
                            <h3 class="c-card__title u-textwhite">調査業務</h3>
                        </div>
                        <div class="c-card__image">
                            <picture>
                                <source media="(max-width: 767px)" srcset="./assets/img/company4-sp.jpg">
                                <img src="./assets/img/company4.jpg" alt="調査業務">
                            </picture>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>