<section class="c-drone">
	<div class="c-drone__bg">
		<div class="c-drone__inner u-flex">
			<div class="c-drone__prodimg">
				<picture>
					<source media="(max-width: 767px)" srcset="./assets/img/matricepro-sp.png">
					<img src="./assets/img/matricepro.png" alt="レーザースキャナ搭載のドローンで安全かつ効率的に測量が可能。">
				</picture>
			</div>
			<div class="c-drone__lazer"></div>
			<div class="c-drone__content u-textwhite">
				<h2 class="c-drone__heading"><span class="c-drone__heading--top">レーザースキャナ搭載のドローン</span><span
						class="u-accent">*</span><br class="u-break--sm">で安全かつ効率的に測量が可能。
				</h2>
				<p class="c-drone__text">
					アイエステーでは、ドローン搭載型の測量用レーザースキャナ搭載のドローンを導入しました。これにより、従来の写真測量で必須だった対空標識を置くことなく、安全かつ効率的に測量することが可能となりました。またレーザーは植生下にも届くため、写真測量では不可能だった植生下のグランドデータを取得できます。災害時の地形測量や施工管理における活躍が期待できます。
				</p>
				<p class="c-drone__notice"><span class="u-accent">＊</span>アミューズワンセルフ社製：ドローン搭載用レーザースキャナシステム「TDOT（ティードット）」
				</p>
			</div>

		</div>
	</div>
	<div class="c-moreinfo">
		<a href="#" class="c-moreinfo__link">詳細情報 ></a>
	</div>
</section>