<section class="c-mainvisual">
	<div class="c-mainvisual__top">
		<div class="c-mainvisual__slider">
			<div class="c-mainvisual__wrapper--background">
				<div class="c-mainvisual__inner u-textwhite">
					<h1 class="c-mainvisual__title c-mainvisual__title--large">
						Protect <span class="c-mainvisual__title--small">the</span>future
					</h1>
					<p class="c-mainvisual__subtitle">
						防災技術を駆使し、地域の未来を守る。
					</p>
				</div>
				<div class="c-mainvisual__banner">
					<picture>
						<source media="(max-width: 767px)" srcset="./assets/img/mainvisual1-sp.jpg">
						<img src="./assets/img/mainvisual1.jpg" alt="防災技術を駆使し、地域の未来を守る。" class="c-mainvisual__img" />
					</picture>
				</div>
			</div>
			<div class="c-mainvisual__wrapper">
				<div class="c-mainvisual__inner u-textwhite">
					<h2 class="c-mainvisual__title">Protect</h2>
					<p class="c-mainvisual__subtitle">生命と財産を守る</p>
				</div>
				<div class="c-mainvisual__banner">
					<picture>
						<source media="(max-width: 767px)" srcset="./assets/img/mainvisual2-sp.jpg">
						<img src="./assets/img/mainvisual2.jpg" alt="生命と財産を守る" class="c-mainvisual__img" />
					</picture>
				</div>
			</div>
			<div class="c-mainvisual__wrapper">
				<div class="c-mainvisual__inner u-textwhite">
					<h2 class="c-mainvisual__title">Connect</h2>
					<p class="c-mainvisual__subtitle">地域と人を繋ぐ</p>
				</div>
				<div class="c-mainvisual__banner">
					<picture>
						<source media="(max-width: 767px)" srcset="./assets/img/mainvisual3-sp.jpg">
						<img src="./assets/img/mainvisual3.jpg" alt="地域と人を繋ぐ" class="c-mainvisual__img" />
					</picture>
				</div>
			</div>
			<div class="c-mainvisual__wrapper">
				<div class="c-mainvisual__inner u-textwhite">
					<h2 class="c-mainvisual__title">Technology</h2>
					<p class="c-mainvisual__subtitle">最新技術を生かす</p>
				</div>
				<div class="c-mainvisual__banner">
					<picture>
						<source media="(max-width: 767px)" srcset="./assets/img/mainvisual4-sp.jpg">
						<img src="./assets/img/mainvisual4.jpg" alt="地域と人を繋ぐ" class="c-mainvisual__img" />
					</picture>
				</div>
			</div>
		</div>
		<div class="c-mainvisual__scroll"></div>
	</div>
	

	<div class="c-mainvisual__bot u-flex">
		<div class="c-mainvisual__botbtn u-flex">
			<div class="c-news__button c-news__button--prev u-flex">
				&lt;
			</div>
			<div class="c-news__button c-news__button--next u-flex">
				&gt;
			</div>
		</div>
		<div class="c-mainvisual__news u-flex u-textwhite">
			<div class="c-mainvisual__newsitem u-flex">
				<div class="c-news__info u-flex">
					<div class="c-news__time">
						<p>2018年11月22日</p>
					</div>
					<!-- <h3 class="c-news__title"> -->
						<a class="c-news__title" href="#">先進建設・防災・減災技術フェアin熊本にドローン等について出展しました。</a>
					<!-- </h3> -->
				</div>
			</div>
			<div class="c-mainvisual__newsitem u-flex">
				<div class="c-news__info u-flex">
					<div class="c-news__time">
						<p>2018年11月22日</p>
					</div>
					<!-- <h3 class="c-news__title"> -->
						<a class="c-news__title" href="#">先進建設・防災・減災技術フェアin熊本にドローン等について出展しました。</a>
					<!-- </h3> -->
				</div>
			</div>

			<!-- <div class="c-mainvisual__newsitem u-flex">
				<div class="c-news__info u-flex">
					<div class="c-news__time">
						<p>2018年11月22日</p>
					</div>
					<h3 class="c-news__title">
						<a class="c-news__titlelink" href="#">先進建設・防災・減災技術フェアin熊本にドローン等について出展しました。</a>
					</h3>
				</div>
			</div> -->
		</div>
		<a class="c-news__more u-textwhite">お知らせ一覧 <span class="c-news__moreicon">></span></a>
	</div>
</section>