<section class="c-new">
    <div class="c-container--small">
        <div class="c-heading">
            <div class="c-heading__iconbox">
                <img class="c-heading__icon" src="./assets/img/icon-wist.svg" alt="事業紹介">
            </div>
            <h2 class="c-heading__caption">お知らせ</h2>
        </div>

        <ul class="c-new__list u-flex">
            <li class="c-new__item">
                <a href="#" class="c-new__link u-nohover u-flex">
                    <p class="c-new__time">2018年11月22日</p>
                    <p class="c-new__title">先進建設・防災・減災技術フェアin熊本にドローン等について出展しました。</p>
                </a>
            </li>
            <li class="c-new__item">
                <a href="#" class="c-new__link u-nohover u-flex">
                    <p class="c-new__time">2018年11月20日</p>
                    <p class="c-new__title">ホームページをリニューアルしました</p>
                </a>
            </li>
            <li class="c-new__item">
                <a href="#" class="c-new__link u-nohover u-flex">
                    <p class="c-new__time">2018年07月04日</p>
                    <p class="c-new__title">綿田地区の復興を願って寄付をしました。</p>
                </a>
            </li>
            <li class="c-new__item">
                <a href="#" class="c-new__link u-nohover u-flex">
                    <p class="c-new__time">2017年10月12日</p>
                    <p class="c-new__title">福岡支店が移転しました。</p>
                </a>
            </li>
            <li class="c-new__item">
                <a href="#" class="c-new__link u-nohover u-flex">
                    <p class="c-new__time">2017年09月01日</p>
                    <p class="c-new__title">ドローンレーザスキャナを導入しました</p>
                </a>
            </li>
        </ul>
    </div>
    <div class="c-moreinfo c-moreinfo--bg c-moreinfo--sm">
        <a href="#" class="c-moreinfo__link"> お知らせ一覧 ></a>
    </div>
</section>