<section class="c-product">
    <div class="c-product__bg">
        <div class="c-container">
            <div class="c-heading">
                <div class="c-heading__iconbox">
                    <img class="c-heading__icon" src="./assets/img/icon-wist.svg" alt="実績紹介">
                </div>
                <h2 class="c-heading__caption">実績紹介</h2>
            </div>
            <p class="c-description">『地域の人たちが安全に安心して暮らせるように、<br class="u-break--sm">
                そして豊かに快適に暮らせるように』、そんな想いを込めて仕事をしています。</p>
            <div class="c-cardslist u-flex c-product__slide">
                <div class="c-card c-card--small">
                    <a href="#" class="c-card__content u-flex">
                        <div class="c-card__thumb">
                            <picture>
                                <source media="(max-width: 1024px)" srcset="./assets/img/box1-sp.jpg">
                                <img src="./assets/img/box1.jpg" alt="No title">
                            </picture>
                            <div class="c-card__label u-textwhite c-card__label--blue">
                                <p>ICT・BIM/CIM</p>
                            </div>
                        </div>
                        <div class="c-card__title u-flex c-card__title--fixspacing">
                            <p class="u-textblack">No title</p>
                            <p class="c-card__titleicon">></p>
                        </div>
                    </a>
                </div>
                <div class="c-card c-card--small">
                    <a href="#" class="c-card__content u-flex">
                        <div class="c-card__thumb">
                            <img src="./assets/img/box2.jpg" alt="十籠地すべり対策事業">
                            <div class="c-card__label u-textwhite c-card__label--red">
                                <p>防災・減災業務</p>
                            </div>
                        </div>
                        <div class="c-card__title u-flex">
                            <p class="u-textblack">十籠地すべり対策事業</p>
                            <p class="c-card__titleicon">></p>
                        </div>
                    </a>
                </div>
                <div class="c-card c-card--small">
                    <a href="#" class="c-card__content u-flex">
                        <div class="c-card__thumb">
                            <img src="./assets/img/box3.jpg" alt="水ヶ浦地区災害関連緊急地すべり対策事業">
                            <div class="c-card__label u-textwhite c-card__label--red">
                                <p>防災・減災業務</p>
                            </div>
                        </div>
                        <div class="c-card__title u-flex">
                            <p class="u-textblack">水ヶ浦地区災害関連緊急地すべり対策事業</p>
                            <p class="c-card__titleicon">></p>
                        </div>
                    </a>
                </div>
                <div class="c-card c-card--small">
                    <a href="#" class="c-card__content u-flex">
                        <div class="c-card__thumb">
                            <img src="./assets/img/box4.jpg" alt="大切畑地区災害関連緊急地すべり対策事業">
                            <div class="c-card__label u-textwhite c-card__label--red">
                                <p>防災・減災業務</p>
                            </div>
                        </div>
                        <div class="c-card__title u-flex">
                            <p class="u-textblack">大切畑地区災害関連緊急地すべり対策事業</p>
                            <p class="c-card__titleicon">></p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="c-moreinfo c-moreinfo--sm">
        <a class="c-moreinfo__link" href="#">実績紹介一覧 ></a>
    </div>
</section>