.c-info {
    background-color: #f5f5f5;

    .c-info__inner {
        @include sp {
            flex-direction: column;
            padding-bottom: 21px;
        }
    }

    .c-info__box {
        flex: 1;
        max-width: 50%;

        &.c-info__box--left {
            max-width: 50%;
            border-right: 2px solid #fff;
        }

        @include sp {
            max-width: 100%;

            &.c-info__box--left {
                max-width: 100%;
                border-right: 0;
                margin-bottom: 5px;
            }

            &.c-info__box--right {
                .c-box__desc {
                    font-size: 1.4rem;
                }
            }
        }
    }

    .c-info__boxbg {
        align-items: center;
        justify-content: center;
        min-height: 255px;
        @include sp {
            min-height: 144px;
            padding: 5% 0;
        }

        &.c-info__boxbg--left {
            background: url(./assets/img/info1.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            @include sp {
                background: url(./assets/img/info1-sp.jpg);
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
            }
        }

        &.c-info__boxbg--right {
            background: url(./assets/img/info2.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            @include sp {
                background: url(./assets/img/info2-sp.jpg);
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
            }
        }
    }

    .c-info__content {
        width: 635px;
        max-width: 100%;
        margin: 0 auto;
        padding: 9.2% 30px;
        @include sp {
            width: 615px;
            margin: 0 auto;
            padding: 0 20px;
        }
    }

    .c-box__title {
        font-size: 3rem;
        font-weight: 600;
        margin-bottom: 7px;
        letter-spacing: 0.1em;
        @include sp {
            font-size: 1.6rem;
            margin-bottom: 5px;
            line-height: 2.2;
        }
    }

    .c-box__desc {
        font-size: 1.5rem;
        font-weight: 600;
        line-height: 2;
        letter-spacing: 0.1em;
        font-feature-settings: "palt";
        @include sp {
            font-size: 1.2rem;
            line-height: 1.6;
        }
    }

    .c-box__descicon {
        font-size: 1.8rem;
        @include sp {
            font-size: 1.5rem;
            display: inline-block;
            transform: translateY(-5px);
        }
    }
}
