.c-heading {
    text-align: center;
    padding-top: 50px;
    @include sp {
        padding-top: 40px;
    }

    .c-heading__caption {
        font-size: 2.4rem;
        font-weight: 600;
        letter-spacing: 2px;
        font-feature-settings: "palt";
        color: #333;
        @include sp {
            font-size: 1.8rem;
        }
    }

    .c-heading__iconbox {
        width: 40px;
        margin: 0 auto 3px;
        @include sp {
            width: 35px;
            margin: 0 auto 6px;
        }
    }
}
