<section class="contact__hero">
    <div class="contact__hero--bg u-relative">
        <div class="c-container--small">
            <h2 class="contact__pagetitle u-textwhite">お問い合わせ</h2>
        </div>
    </div>
</section>