<%- include('_layouts/layout', { title: 'Home page' }); -%>

<!-- @meta -->
<meta name="description" content="Wist home page">
<!-- @@meta -->

<!-- @content -->
<main class="p-top">
  <!-- Mainvisual -->
  <%- include('_partials/home/mainvisual') %>
  <!-- End Mainvisual -->

  <!-- Company -->
  <%- include('_partials/home/company') %>
  <!-- End Company -->

  <!-- Drone -->
  <%- include('_partials/home/drone') %>
  <!-- End Drone -->

  <!-- Product -->
  <%- include('_partials/home/product') %>
  <!-- End Product -->

  <!-- Info -->
  <%- include('_partials/home/info') %>
  <!-- End Info -->

  <!-- New -->
  <%- include('_partials/home/new') %>
  <!-- End New -->
</main>
<!-- @@content -->
