<div class="c-backtotop u-flex" id="scroll-top">
    <div class="c-backtotop__text u-textblack u-flex">
        <p class="c-backtotop__text--arrow">^</p>
        <p>
            TOP
        </p>

    </div>
    <div class="c-backtoptop__img">
        <picture>
            <img src="./assets/img/pagetop.png" alt="Page Top">
        </picture>
    </div>
</div>