<footer class="c-footer u-textblack">
  <div class="c-footer__future">
    <h2 class="c-future__title">
      Protect<span class="c-future__title--bot"> <span class="c-future__title--small">the</span>future</span>
    </h2>
    <p class="c-future__subtitle">
      防災技術を駆使し、地域の未来を守る。
    </p>
  </div>
  <div class="c-footer__bg"></div>
  <div class="c-footer__img">
    <a href="./index.html">
      <picture>
        <source media="(max-width: 1024px)" srcset="./assets/img/flogo-sp.png">
        <img src="./assets/img/flogo.png" alt="wist">
      </picture>
    </a>
  </div>
  <div class="c-footer__info">
    <div class="c-footer__company">
      <p class="c-footer__name">
        総合建設コンサルタント
        <span class="c-footer__name--strong">株式会社アイエステー（IST）</span>
      </p>
      <p class="c-footer__address">〒860-0833　熊本市中央区平成3丁目16番13号</p>
    </div>
    <div class="c-footer__numb">
      <p class="c-footer__tel">tel.<span class="c-footer__tel--big">096-285-5177</span></p>
      <p class="c-footer__fax">fax.096-285-5188</p>
    </div>

    <div class="c-footer__links">
      <a href="#" class="c-footer__linkitem">交通アクセス <span class="u-textblue c-footer__linkitemicon">＞</span></a>
      <a href="#" class="c-footer__linkitem">プライバシーポリシー <span class="u-textblue c-footer__linkitemicon">＞</span></a>
    </div>
  </div>
  <p class="c-footer__copyright">Copyright © IST CO., LTD. All Rights Reserved.</p>
  
</footer>